@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

body{
    font-family: 'Orbitron', sans-serif !important;
}
h3{
    font-size: 2rem !important;
}
.container {
    width: 160px !important;
}
.form-group{
    display: flex ;
}
#countdown{
    font-size: 10rem ;
}
